<table class="table table-borderless">
  <% post.post_comments.each do |post_comment| %>
    <tr>
      <td>
        <%= link_to user_path(post_comment.user) do %>
          <%= image_tag post_comment.user.avatar.url, class: "rounded-circle", size: "40x40"%>
        <% end %>
      </td>
      <td><%= simple_format(post_comment.comment) %></td>
      <% if post_comment.user == current_user %>
        <td><%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, local: true, class: "btn btn-danger brn-sm"%></td>
      <% end %>
    </tr>
  <% end %>
</table>
