<% notifications = @notifications.where.not(visitor_id: current_user.id) %>

<div class="container">
  <% if notifications.exists? %>
    <div>
      <%= render notifications %>
      <%= paginate notifications %>
    </div>
  <% else %>
    <p class="mt-3">通知はありません</p>
  <% end %>
</div>