<div class="container">
  <div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <% if @model == "user" %>
        <% if @records.present? %>
          <%= render 'relationships/users_list', users: @records %>
        <% else %>
          <%= @username %>さんはいません
        <% end %>
      <% elsif @model == "tag" %>
        <% if @records.present? %>
          <%= render 'posts/index', posts: @records %>
        <% else %>
          #<%= @tag %>の投稿はありません
        <% end %>
      <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>