<div class="d-flex flex-wrap justify-content-center">
  <% if posts.present? %>
    <% posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <div class="post-image m-2">
          <%= image_tag post.images[0].to_s, size: "360x240" %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="mt-5 mx-auto">
      <div class="d-flex justify-content-center">
        <span class="fa-stack fa-3x">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fas fa-images fa-stack-1x"></i>
        </span>
      </div>
      <h4 class="text-center mt-3">投稿一覧</h4>
      <p>すべての投稿がここに表示されます。</p>
    </div>
  <% end %>
</div>