<div class="post-index d-flex flex-wrap justify-content-around">
  <% posts.each do |post| %>
    <%= link_to post_path(post) do %>
      <%= image_tag post.images[0].to_s, size: "240x150" %>
    <% end %>
  <% end %>
</div>