<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2 class="text-center mt-5 mb-5">投稿を編集</h2>
      <%= render 'layouts/errors', obj: @post %>
      <%= render 'posts/edit-form', post: @post %>
    </div>
  </div>
</div>