<div class="d-flex w-100 flex-column">
  <div class="w-100 text-center bg-white text-dark border-bottom py-1 mb-0">
    <h2 class="d-inline">#<%= @tag.name %> の投稿</h2>
    <span class="text-muted h5 ml-2"><strong>全<%= @posts.count %>件</strong></span>
  </div>
  <div class="container mt-3">
    <div class="row justify-content-center jscroll">
      <%= render 'posts/index', posts: @posts %>
    </div>
  </div>
</div>