<div class="posts-container">
  <h1>投稿一覧</h1>
  <table class="table">
    <thead>
      <tr>
        <td>投稿者名</td>
        <td>状況</td>
        <td>本文</td>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.user.name %></td>
          <td><%= post.situation %></td>
          <td><%= link_to post.text, post_path(post) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
