<div class="post-form-container">
  <div class="container">
    <h1>新規投稿</h1>
    <div class="post-form">
      <%= form_with model: @post, local: true do |f| %>

        <div class="form-group">
          < %= f.text_area :text, class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "投稿する", class: "btn btn-primary"%>
        </div>
    </div>
  </div>
</div>
