// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.subImg img {
  max-height: 110px;
}

.mainImg img {
  max-height: 700px;
}

.indexImg img {
  max-height: 240px;
  max-width: 360px;
}

.subImg:nth-child(4) {
  padding-right: 0 !important;
}

//---------  投稿フォーム  -----------//

